[package]
name = "kosmos"
version = "0.1.0"
edition = "2024"

[dependencies]

[lib]
name = "kosmos"
crate-type = ["staticlib"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"